.updates {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 50px;
  padding: 15px;
  border-left: 1px solid #000;
}

.updates__title {
  font-family: 'Audiowide';
  text-align: center;
}