@font-face {
  font-family: 'Audiowide';
  src: url('../fonts/Audiowide-Regular.eot');
  src: local('Audiowide Regular'), local('Audiowide-Regular'),
      url('../fonts/Audiowide-Regular.woff2') format('woff2'),
      url('../fonts/Audiowide-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}