@use 'variables';
@use 'fonts';

%content-width {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 40px);
  max-width: var(--content-width);
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto';
  color: var(--text);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex: 1 0 auto;
  background: var(--content-bg-color);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content-area {
  @extend %content-width;
  padding: 0 0 45px;
}

.content-area__body {
  flex: 1 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list--inline {
  display: flex;

}

.list__item {
  padding: 0 15px;
  &:first-of-type {
    padding-left: 0;
  }
}

button {
  font-size: 12px;
}