@use 'variables';

body {
  margin: 0;
  background-color: variables.$bg;
  color: var(--text);
}

main {
  display: flex;
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  .content-area {
    width: 100%;
  }
}

button {
  font-size: 12px;
}
