.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
}

.content--promo-image {
  width: 33%;
  margin: auto;
}

canvas {
  height: 150px;
  width: 150px;
  border: 1px solid black;
}