
.theater {
  width: 100%;
}

.theater-equipment__list {
  display: flex;
  justify-content: center;
}

.home-theater-speakers {
  margin: 20px 0;
}

.home-theater__item {
  margin: 20px 0;
}

.home-theater__item-image {
  width: 150px;
  img {
    width: 150px;
    border: 0;
  }
  &--half {
    width: 50%;
    img {
      width: 100%;
    }
  }
  &--full {
    width: 100%;
    text-align: center;
    img {
      width: 50%;
    }
  }
}

.home-theater__item-content {
  display: flex;
  ul {
    list-style-type: circle;
    margin-left: 20px;
  }
  &--full {
    flex-direction: column;
  }
}
