.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 12px;
}

.movie {
  position: relative; /* Ensure positioning context for the popup */
  display: inline-block; /* Adjust to your layout needs */
  width: 150px;
  margin: 0 10px 25px;
  &:first-of-type {
    margin-left: 0;
  }
}

.movie__title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px 0 0;
}

.movie__poster img {
  height: 195px;
  border-radius: 5px;
  border: 1px solid var(--color-dark-slate)
}

.movie__popup {
  display: none; /* Hide the popup by default */
  position: absolute; /* Position relative to the parent */
  top: 50%; /* Show above the parent element */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-dark-slate);
  color: #fff; /* White text */
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  width: 200px; /* Adjust width as needed */
  text-align: center;
}

.movie:hover .movie__popup {
  display: block; /* Show popup on hover */
}