.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 100px;
  color: var(--nav-color);
}

.header__content {
  width: var(--content-width);
}

.header__logo {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  height: 100%;
  font-family: 'Audiowide';
  font-size: 36px;
}


.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}
