footer {
  background-color: var(--color-gunmetal);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 100%;
  height: 50px;
  width: calc(100% - 40px);
  padding: 0 20px;
  color: var(--color-lt-gray);
  z-index: 200;
}

.footer__copywrite,
.footer__social-links {
  flex: 1 0 auto;
  font-size: 12px;
}

.footer__social-links {
  ul {
    justify-content: flex-end;
  }
}
