.movie-card {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.95);
  border-radius: 0.5em;
  width: 20%;
  padding: 10px;
  margin: 5px auto;
}

.movie-card__top {
  display: flex;
}

.movie-card__top-image {
  display: flex;
  height: 150px;
  padding-right: 5px;
  img {
    width: auto;
    border-radius: 0.3em;
  }
}

.movie-card__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.movie-card__release {
  font-size: 8px;
}

.movie-card__overview {
  padding-top: 10px;
  font-size: 12px;
}
