.movie-tile {
  background-color: var(--color-lt-gray);
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.55);
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 15px;
  padding: 5px;
  .modal {
    border-radius: 10px;
    background-color: var(--content-bg-color);
    width: 50%;
  }
  .modal::backdrop {
    background-color: rgba(33, 33, 33, 0.8);
  }

  img {
    border-radius: 0.25em;
    width: 125px;
  }
}

.movie-tile__modal {
  display: flex;
  img {
    height: 200px;
    width: auto;
  }
}

.movie-tile__copy {
  margin-left: 15px;
  &-title {
    font-size: 20px;
  }
  &-release {
    font-size: 12px;
  }
  &-overview {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .movie-tile .modal {
    width: 85%;
  }
}
