.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0 20px;
  height: 100px;
  width: calc(100% - 40px);
  background-color: var(--color-gunmetal);
}

.logo {
  display: flex;
  align-items: center;
  font-family: "BlackOps";
  color: var(--color-burgundy);
  text-shadow: 
    2px 2px 0 #000, /* Horizontal and vertical offsets, blur radius, and color */
    4px 4px 0 #000, /* Second layer for a sharper effect */
    6px 6px 0 #000; /* Third layer for even more depth */
  font-size: 55px;
  height: 75px;
  &::before {
    content: '';
    background: url('../images/cross.png');
    background-size: contain;
    width: 75px;
    height: 75px;
    margin-right: 25px;
  }
}
