.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__content {
  display: flex;
  max-width: var(--content-width);
  width: 100%;
}

.section__content--date {
  font-size: .7em;
  margin-bottom: 12px;
}
