.section {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.section__content {
  display: flex;
  width: 100%;
  max-width: var(--content-width);
}

@media screen and (max-width: 768px) {
  .section__content {
    padding: 20px;
  }
}
