.section {
  display: flex;
  justify-content: center;
  height: auto;
  width: calc(100% - 40px);
  max-width: var(--content-width);
  padding-top: 100px;
  margin: auto;
}

.section__content {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 25px 0;
}

@media (max-width: 1150px) {
  .section__content {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .section__content {
    padding: 20px;
  }
}
