.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  margin-left: 15px;
  padding: 20px 25px;
  border-left: 1px solid #000;
}

.sidebar__title {
  text-align: center;
}

.sidebar-menu {
  li {
    list-style: none;
    font-size: 0.9em;
    color: var(--color-six);
    margin: 5px 0;
  }
  span {
    display: inline-block;
    width: 50%;
    margin: 0;
    &:first-of-type {
      font-weight: 600;
    }
  }
}
