.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 65px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 4px 0;
    padding: 10px;
}