.stats {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 50px;
  padding: 15px;
  border-left: 1px solid #000;
}

.stats__title {
  font-family: 'Audiowide';
  text-align: center;
}

.stats__discription {
  li {
    list-style: none;
    margin: 5px 0;
  }
  span {
    display: inline-block;
    width: 50%;
    margin: 0;
    &:first-of-type {
      font-weight: 600;
    }
  }
}